/* color palette: https://coolors.co/palette/9381ff-b8b8ff-f8f7ff-ffeedd-ffd8be */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #f8f7ff;
}

button {
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  outline: none;
}

/* main */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  min-height: 500px;
  padding: 10px;
  margin-top: 50px;
}

.calculator {
  background-color: #fef9ff;
  border: 5px solid #7371fc;
  border-radius: 25px;
  padding: 30px;
  width: 400px;
  box-shadow: 10px 8px 8px #afafdc;
}

.screen {
  padding: 10px 20px;
  border: 3px solid #7371fc;
  border-radius: 25px;
  margin-bottom: 20px;
  background-color: white;
  text-align: right;
  word-wrap: break-word;
  word-break: break-all;
  font-weight: 400;
  box-shadow: 8px 4px 4px #afafdc;
}

.screen-last {
  min-height: 32px;
  font-size: 20px;
}

.screen-current {
  min-height: 64px;
  font-size: 40px;
}

.buttons-grid {
  font-weight: 400;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.btn {
  padding: 20px;
  font-size: 20px;
}

/* clear and delete button */
.span-2 {
  grid-column: span 2;
  background-color: #7371fc;
  color: white;
  border-radius: 25px;
  font-size: 22px;
  box-shadow: 8px 4px 4px #afafdc;
}

#num,
#point-btn {
  padding: 20px;
  border-radius: 35px;
  background-color: #b8b8ff;
  color: white;
  font-size: 25px;
  box-shadow: 8px 4px 4px #afafdc;
}

#operator {
  padding: 20px;
  border-radius: 25px;
  background-color: #9381ff;
  color: white;
  font-size: 28px;
  box-shadow: 8px 4px 4px #afafdc;
}
